header.header {
    background: #f1f4fb;
    height: 80px;
    padding: 0 1rem;
    border-bottom: 1px solid var(--main);
}
header.header > div {
    max-width: 1450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
header.header .logo a {
    display: flex;
}
header.header .logo img {
    height: 60px;
}
header.header nav {
    display: flex;
    align-items: center;
}
header.header nav .menu {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    list-style-type: none;
}
header.header nav .menu li a {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--main);
    transition: color 150ms;
}
header.header nav .menu li a:hover {
    color: var(--secondary);
}
header.header nav .menu li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    border-radius: 2px;
    right: 0;
    bottom: 0;
    background: var(--secondary);
    transition: height 150ms;
}
header.header nav .menu li a:hover::after {
    height: 3px;
}
header.header .order {
    margin-left: 36px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1;
    padding: 10px 18px 9px;
    border-radius: 10px;
    font-weight: 500;
    background: var(--main);
    color: #fff;
    transition: background 150ms;
}
header.header .order:hover {
    background: var(--secondary);
}
#show-menu {
    display: none;
    font-size: 1.2rem;
    background: var(--main);
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: 150ms;
}
#show-menu:active {
    transform: scale(.9);
}
/* Header // */

@media (max-width:600px) {
    header.header nav .menu {
        width: 80%;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        transform: translateX(100%);
        flex-direction: column;
        gap: 0;
        background: #fff;
        z-index: 10;
        transition: 250ms;
    }
    header.header nav .menu.active {
        transform: translate(0);
    }
    header.header nav .menu li {width: 85%;}
    header.header nav .menu li a {height: 50px; width: 100%; display: block; line-height: 50px; font-weight: 400;}
    .menu_layer {
        pointer-events: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: #080a38;
        z-index: 9;
        opacity: 0;
        transition: 250ms;
    }
    .menu_layer.active {
        pointer-events: all;
        display: block;
        opacity: .5;
    }
    header.header > div {height: 100%;}
    .intro .descrip h2 {text-align: center;}
    .intro .descrip p {text-align: center;}
    .intro .descrip a {display: block; width: fit-content; margin: 0 auto;}
    header.header .order {margin-left: 20px;}
    #show-menu {display: flex;}
}