<div class="container">
    <div class="brand">
        <div class="about-social">
            <p class="about">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
            </p>
            <div class="social_media">
                <ul>
                    <li><a href="#"><img src="media/icons/instagram.svg" alt="اینستاگرام" height="23px"></a></li>
                    <li><a href="#"><img src="media/icons/telegram.svg" alt="تلگرام" height="23px"></a></li>
                    <li><a href="#"><img src="media/icons/facebook.svg" alt="فیسبوک" height="23px"></a></li>
                    <li><a href="#"><img src="media/icons/twitter.svg" alt="تویتر" height="23px"></a></li>
                    <li><a href="#"><img src="media/icons/linkedin.svg" alt="لینکدین" height="23px"></a></li>
                </ul>
            </div>
        </div>
        <div class="logo">
            <img src="media/logo6.svg" alt="لوگو زاهدان دیزاین">
        </div>
    </div>
    <div class="powerd">
        <p>طراحی و توسعه وب سایت، توسط شرکت <a href="#">زاهدان دیزاین</a> <img width="20px" src="media/icons/copyright-.svg" alt="&copy;"></p>
        <p>ادرس: زاهدان، پارک علم و فناوری، سوله اصلی</p>
        <p>شماره تماس: <a href="tel:0936-145-0674">09361450674</a></p>
    </div>
</div>