<div>
    <nav class="navigation">
        <a href="" class="order">ثبت سفارش</a>
        <button id="show-menu" onclick="showMenu()"><i class="fa-solid fa-bars"></i></button>
        <ul class="menu">
            <li><a href="#">خدمات</a></li>
            <li><a href="portfolio.html">نمونه کارها</a></li>
            <li><a href="#">برنامه نویسی</a></li>
            <li><a href="#">طراحی گرافیک</a></li>
            <li><a href="#">درباره ما</a></li>
            <li><a href="#">بلاگ</a></li>
        </ul>
    </nav>
    <div class="logo">
        <a href="index.html"><img src="media/logo5.svg" alt="لوگو زاهدان دیزاین"></a>
    </div>
</div>